.proposta-item {

}

.proposta-item {

}

.proposta-item.desconsiderada {
    opacity: 0.3;
}

.proposta-item.desconsiderada {
    text-decoration: line-through;
}

.proposta-item.desconsiderada:hover {
    opacity: 1;
}

.panel.panel-success .panel-body {
    background-color: #E6F5E6 !important;
}